<section>
    <div class="attribute-gen">
        <header>
            <div class="attributes-grid">
                <div class="text-center">
                    <span>STR</span>
                </div>
                <div class="text-center">
                    <span>INT</span>
                </div>
                <div class="text-center">
                    <span>WIL</span>
                </div>
                <div class="text-center">
                    <span>DEX</span>
                </div>
                <div class="text-center">
                    <span>CON</span>
                </div>
                <div class="text-center">
                    <span>CHA</span>
                </div>
            </div>
        </header>
        <!-- Primary attribute selection -->
        <section>
            <div class="attributes-grid">
                <div>
                    <button type="button" data-attribute="str">
                        <i class="fa-solid fa-dice"></i>
                        <span>5d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="int">
                        <i class="fa-solid fa-dice"></i>
                        <span>5d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="wil">
                        <i class="fa-solid fa-dice"></i>
                        <span>5d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="dex">
                        <i class="fa-solid fa-dice"></i>
                        <span>5d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="con">
                        <i class="fa-solid fa-dice"></i>
                        <span>5d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="cha">
                        <i class="fa-solid fa-dice"></i>
                        <span>5d6</span>
                    </button>
                </div>
            </div>
        </section>
        <!-- Secondary attributes selection -->
        <section>
            <div class="attributes-grid">
                <div>
                    <button type="button" data-attribute="str">
                        <i class="fa-thin fa-dice"></i>
                        <span>4d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="int">
                        <i class="fa-thin fa-dice"></i>
                        <span>4d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="wil">
                        <i class="fa-thin fa-dice"></i>
                        <span>4d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="dex">
                        <i class="fa-thin fa-dice"></i>
                        <span>4d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="con">
                        <i class="fa-thin fa-dice"></i>
                        <span>4d6</span>
                    </button>
                </div>
                <div>
                    <button type="button" data-attribute="cha">
                        <i class="fa-thin fa-dice"></i>
                        <span>4d6</span>
                    </button>
                </div>
            </div>
        </section>
        <section>
            <button type="button"><span>Roll</span></button>
        </section>
    </div>
</section>
