<div class="flexrow">

  <div class="">
    {{#each hostiles as |hostile key|}}
    <span class="flexrow acks-label-base">
      <label class="acks-label-base">{{hostile.actor.name}}</label>
      <select class="acks-field-numeric actor-surprise-modifier" data-cid="{{hostile.id}}">
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0" selected>0</option>
        <option value="+1">+1</option>
        <option value="+2">+2</option>
        <option value="+3">+3</option>
      </select>
    </span>
    {{/each}}
  </div>

  <div class="">
    {{#each friendlies as |friendly key|}}
    <span class="flexrow acks-label-base">
      <label class="acks-label-base">{{friendly.actor.name}}</label>
      <select class="acks-field-numeric actor-surprise-modifier" data-cid="{{hostile.id}}">
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0" selected>0</option>
        <option value="+1">+1</option>
        <option value="+2">+2</option>
        <option value="+3">+3</option>
      </select>
    </span>
    {{/each}}
  </div>

</div>

<div class="acks-label-center">
  <button id="close-actor-surprise">Save and close</button>
</div>