<div class="mortal-wounds-dialog flexcol">

  <fieldset>
    <legend>Mortal Wounds - Basic Information</legend>
    <div class="flexrow">
      <span>Damage Type / Mortal Wounds Table</span>
      <select name="mortalTablesChoice" class="mortal-wound-table">
        {{#each mortalTablesChoices}}
        <option value="{{this.key}}"> {{this.label}}</option>
        {{/each}}
      </select>
    </div>
    <div class="flexrow">
      <span>Treatment</span>
      <select name="treatmentTiming" class="treatment-timing">
        <option value="2" selected>Treatment within 1 Round (+2)</option>
        <option value="-3">Treatment within 1 Turn of Injury(-3)</option>
        <option value="-5">Treatment within 1 Hour of Injury(-5)</option>
        <option value="-10">Treatment more than 1 day after Injury (-10)</option>
      </select>

    </div>

    <div class="flexrow">
      <span>If Necromantic Magic, enter spell's level</span>
      <select name="necromanticSpellLevel" class="necromantic-spell-level">
        <option value="0" selected>None (0)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
  </fieldset>

  <div class="flexrow">
    <fieldset>
      <legend>Combatant</legend>
      <div class="flexrow">
        <span>Heavy Helm ?</span>
        <input type="checkbox" name="hasHeavyHelm" data-action="toggle-heavy-helm" {{#if hasHeavyHelm}}checked{{/if}} />
        <input disabled=true type="number" name="heavyHelmMalus" value="2" />
      </div>
      <div class="flexrow">
        <span>Hit Dice ({{hitDice}})</span>
        <input type="number" disabled=true name="hitDiceModifier" value="{{hitDiceModifier}}" />
      </div>
      <div class="flexrow">
        <span>Current Hit Points ({{currentHitPoints}} / {{maxHitPoints}})</span>
        <input type="number" disabled=true name="hitPointsModifier" value="{{hitPointsModifier}}" />
      </div>
      <div class="flexrow">
        <span>Constitution Modifier</span>
        <input type="number" disabled=true name="conModifier" value="{{conModifier}}" />
      </div>

      <div class="flexrow">
        <span>Additionnal modifier</span>
        <input type="number" name="freeModifier" value="{{freeModifier}}" class="free-modifier"/>
      </div>
      </fieldset>


    <fieldset>
      <legend>Ally Performing Healing</legend>

      <div class="flexrow">
        <span>Horsetail Applied ?</span>
        <input type="checkbox" name="horsetailApplied" data-action="toggle-horsetail" />
        <input type="number" disabled=true name="horsetailModifier" value="0" />
      </div>
      <div class="flexrow">
        <span>Healing magic level </span>
        <select name="healingMagicLevel" class="healing-magic-level">
          <option value="0" selected>None (0)</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="5">6</option>
        </select>
      </div>
      <div class="flexrow">
        <span>Laying on Hands ? </span>
        <input type="checkbox" name="layingOnHands" data-action="toggle-laying" />
      </div>
      <div class="flexrow healer-class-level-div">
        <span>Healer's class level </span>
        <select name="healerClassLevel" disabled class="healer-class-level">
          <option value="0">Not applicable</option>
          <option value="1">1 (+1)</option>
          <option value="2">2 (+1)</option>
          <option value="3">3 (+2)</option>
          <option value="4">4 (+2)</option>
          <option value="5">5 (+2)</option>
          <option value="6">6 (+3)</option>
          <option value="7">7 (+4)</option>
          <option value="8">8 (+4)</option>
          <option value="9">9 (+4)</option>
          <option value="10">10 (+5)</option>
          <option value="11">11 (+6)</option>
          <option value="12">12 (+6)</option>
          <option value="13">13 (+6)</option>
          <option value="14">14 (+7)</option>
        </select>
      </div>

      <div class="flexrow">
        <span>Healing Proficiency</span>
        <select name="healingProficiency" class="healing-proficiency">
          <option value="0" selected>None (0)</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

    </fieldset>

  </div>


  <div class="final-modifier-div">
    <div class="flexrow">
      <span>Final modifier value</span>
      <input type="number" class="final-modifier-value" disabled name="finalModifierValue" value="{{finalModifier}}" />
    </div>
  </div>

</div>