<div class="tampering-dialog flexcol">

  <fieldset>
    <legend>Tampering with Mortality - Basic Information</legend>
    <div class="flexrow">
      <span>Alignment</span>
      <select name="tamperingChoice" class="tampering-table">
        {{selectOptions tamperingChoices selected=tamperingChoice valueAttr="key" labelAttr="label"}}
      </select>
    </div>
    <div class="flexrow">
      <span>Span of Creature's Life</span>
      <select name="creatureLife" class="creature-life">
        {{selectOptions spanChoices selected=creatureLife valueAttr="value" labelAttr="label"}}
      </select>
    </div>

    <div class="flexrow">
      <span>Casting in Temple of Spellcaster's God (+2)</span>
      <input type="checkbox" name="castTemple" data-action="cast-temple" {{#if castTemple}} checked {{/if}} />
    </div>
    <div class="flexrow">
      <span>Spellcaster's Power</span>
      <select name="spellcasterlLevel" class="spellcaster-level">
        {{selectOptions classLevelChoices selected=spellcasterLevel valueKey="value" labelKey="label"}}
      </select>
    </div>
  </fieldset>

  <div class="flexrow align-top">-
    <fieldset class="tampering-creature-fieldset">
      <legend>State of the Creature's Body</legend>
      <div class="flexrow">
        <span class="still-alive">Still Alive (+5) ?</span>
        <input type="checkbox" name="stillAlive" data-action="still-alive" {{#if stillAlive}}checked{{/if}} />
        <span>Instantly Killed (-10) ?</span>
        <input type="checkbox" name="instantKilled" data-action="instant-killed" {{#if instantKilled}}checked{{/if}}/>
      </div>
      <div class="flexrow">
        <span>Spine</span>
        <select name="spine" class="spine-severed">
          {{selectOptions spineChoices selected=spine valueKey="value" labelKey="label"}}
        </select>
      </div>
      <div class="flexrow">
        <span>Limbs Destroyed</span>
        <select name="limbsDestroyed" class="limbs-destroyed">
          {{selectOptions limbsChoices selected=limbsDestroyed valueKey="value" labelKey="label"}}
        </select>
      </div>
      <div class="flexrow">
        <span>Organs Destroyed</span>
        <input type="number" name="organsDestroyed" value="{{organsDestroyed}}" class="organs-destroyed"/>
      </div>

      <div class="flexrow">
        <span>Additional Modifier</span>
        <input type="number" name="freeModifier" value="{{freeModifier}}" class="free-modifier"/>
      </div>

      </fieldset>


    <div class="flexcol tampering-soul-fieldset">
      <fieldset class="">
        <legend>State of the Creature's Soul</legend>

        {{#if actor}}
        <div class="flexrow">
          <span>Will Modifier </span>
          <input type="number" disabled=true name="willModifier" value="{{willModifier}}" class="will-modifier"/>
        </div>
        {{else}}
        <div class="flexrow">
          <span>Will Modifier </span>
          <input type="number" name="willModifier" value="{{willModifier}}" class="will-modifier"/>
        </div>
        {{/if}}

        <div class="flexrow">
          <span>Days Since Death </span>
          <input type="number" name="daysSinceDeath" value="{{daysSinceDeath}}" class="days-since-death"/>
        </div>
        <div class="flexrow ">
          <span>Existing Side Effects </span>
          <input type="number" name="sideEffects" value="{{sideEffects}}" class="side-effects"/>
        </div>

      </fieldset>

        <div class="flexrow final-modifier-div">
          <span>Final Modifier</span>
          <input type="number" class="final-modifier-value" disabled name="finalModifierValue" value="{{finalModifier}}" />
        </div>

    </div>

  </div>



</div>
