<div class="item-description">
  <prose-mirror name="system.description" value="{{ system.description }}" document-uuid="{{ item.uuid }}" compact
                toggled>{{{ enriched.description }}}</prose-mirror>
</div>
