<section class="notes-tab">
    <div class="inventory">
        <div class="flexrow">
            <div class="languages">
                <div class="item-titles flexrow">
                    <div class="item-name">
                        {{localize "ACKS.category.languages"}}
                    </div>
                    <div class="item-controls">
                    </div>
                </div>
                <ol>
                    {{#each languages as |lang idx|}}
                    <li class="item flexrow" data-item-id="{{lang._id}}">
                        <div class="item-name">
                            {{lang.name}}
                        </div>
                        <div class="item-controls">
                          <a class="item-control item-edit" title='{{localize "ACKS.Edit"}}'><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title='{{localize "ACKS.Delete"}}'><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="flex3 description">
                <div class="item-titles">{{localize "ACKS.category.description"}}</div>
                <div>
                    {{editor description target="system.details.description"
                button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
    <div class="inventory notes">
        <div class="item-titles">{{localize "ACKS.category.notes"}}</div>
        <div class="resizable-editor" data-editor-size="140">
            {{editor notes target="system.details.notes"
            button=true owner=owner editable=editable}}
        </div>
    </div>
</section>