<section class="attributes-tab flexrow">
  {{!-- Scores --}}
  <div class="attribute-group">
    <div class="modifiers-btn">
      {{#unless isNew}}
      <a data-action="modifiers" title="{{localize 'ACKS.Modifiers'}}"><i class="fas fa-book"></i></a>
      {{else}}
      <a data-action="generate-scores" title="{{localize 'ACKS.dialog.generateScores'}}"><i
          class="fas fa-dice blinking"></i></a>
      {{/unless}}
    </div>
    <ul class="attributes">
      <li class="attribute ability-score" data-score="str">
        <h4 class="attribute-name box-title" title="{{ localize 'ACKS.scores.str.long' }}">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.scores.str.short" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.scores.str.value" type="text" value="{{system.scores.str.value}}" placeholder="0"
            data-dtype="Number" />
          <div class="exponent-mod" data-tooltip="Modifier">{{system.scores.str.mod}}</div>
        </div>
      </li>
      <li class="attribute ability-score" data-score="int">
        <h4 class="attribute-name box-title" title="{{ localize 'ACKS.scores.int.long' }}">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.scores.int.short" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.scores.int.value" type="text" value="{{system.scores.int.value}}" placeholder="0"
            data-dtype="Number" />
          <div class="exponent-mod" data-tooltip="Modifier">{{system.scores.int.mod}}</div>
        </div>
      </li>
      <li class="attribute ability-score" data-score="wis">
        <h4 class="attribute-name box-title" title="{{ localize 'ACKS.scores.wis.long' }}">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.scores.wis.short" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.scores.wis.value" type="text" value="{{system.scores.wis.value}}" placeholder="0"
            data-dtype="Number" />
          <div class="exponent-mod" data-tooltip="Modifier">{{system.scores.wis.mod}}</div>
        </div>
      </li>
      <li class="attribute ability-score" data-score="dex">
        <h4 class="attribute-name box-title" title="{{ localize 'ACKS.scores.dex.long' }}">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.scores.dex.short" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.scores.dex.value" type="text" value="{{system.scores.dex.value}}" placeholder="0"
            data-dtype="Number" />
          <div class="exponent-mod" data-tooltip="Modifier">{{system.scores.dex.mod}}</div>
        </div>
      </li>
      <li class="attribute ability-score" data-score="con">
        <h4 class="attribute-name box-title" title="{{ localize 'ACKS.scores.con.long' }}">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.scores.con.short" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.scores.con.value" type="text" value="{{system.scores.con.value}}" placeholder="0"
            data-dtype="Number" />
          <div class="exponent-mod" data-tooltip="Modifier">{{system.scores.con.mod}}</div>
        </div>
      </li>
      <li class="attribute ability-score" data-score="cha">
        <h4 class="attribute-name box-title" title="{{ localize 'ACKS.scores.cha.long' }}">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.scores.cha.short" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.scores.cha.value" type="text" value="{{system.scores.cha.value}}" placeholder="0"
            data-dtype="Number" />
          <div class="exponent-mod" data-tooltip="Modifier">{{system.scores.cha.mod}}</div>
        </div>
      </li>
    </ul>
  </div>

  {{!-- Resource Tracking --}}
  <div class="resources">
    <div class="flexrow">

      <div class="health">
        <input class="health-value health-top" name="system.hp.value" type="text" value="{{system.hp.value}}"
          data-dtype="Number" placeholder="0" title="{{localize 'ACKS.Health'}}" />
        <input class="health-value health-bottom" name="system.hp.max" type="text" value="{{system.hp.max}}"
          data-dtype="Number" placeholder="0" title="{{localize 'ACKS.HealthMax'}}" />
        <div class="health-empty" style="height:{{counter false system.hp.value system.hp.max}}%"></div>
        <div class="health-full" style="height:{{counter true system.hp.value system.hp.max}}%"></div>
      </div>

      <ul class="attributes flexrow">
        <li class="attribute ">
          <h4 class="attribute-name box-title box-title-min-height" ">
            <a class="hit-dice" data-tooltip="{{localize 'ACKS.HitDice' }}"><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.HitDiceShort" }}</a>
            {{#if (lte system.hp.value 0)}}
              <a class="mortal-wound-dialog" data-tooltip="Roll Mortal Wound"><i class="fa-regular fa-skull"></i></a>
              <a class="tampering-dialog" data-tooltip="Roll Tampering With Mortality"><i class="fa-regular fa-scythe"></i></a>
            {{/if}}
          </h4>
          <div class="attribute-value">
            <input name="system.hp.hd" type="text" value="{{system.hp.hd}}" placeholder="" data-dtype="String" />
          </div>
        </li>

        <li class="bhr attribute ">
          <h4 class="attribute-name box-title box-title-min-height" title="{{localize 'ACKS.HealingRate'}}">
            <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{localize 'ACKS.HealingRate'}}</a>
          </h4>
          <div class="attribute-value">
            <input name="system.fight.healingrate" type="text" value="{{system.fight.healingrate}}" placeholder=""
              data-dtype="String" />
          </div>
        </li>

        <li class="attribute">
          <h4 class="attribute-name box-title box-title-min-height" title="{{ localize 'ACKS.Initiative' }}">
            {{ localize "ACKS.InitiativeShort" }}</h4>
          <div class="attribute-value"
            title="{{localize 'ACKS.scores.dex.long'}}({{system.scores.dex.init}}) + {{localize 'ACKS.Modifier'}}({{system.initiative.mod}})">
            {{add system.scores.dex.init system.initiative.mod}}
          </div>
        </li>
        <li class="attribute">
          <h4 class="attribute-name box-title box-title-min-height" title="{{ localize 'ACKS.SurpriseOthers' }}">
            {{ localize "ACKS.SurpriseOthers" }}</h4>
          <div class="attribute-value">
            <input name="system.surprise.surpriseothers" type="text" value="{{system.surprise.surpriseothers}}"
              placeholder="" data-dtype="Number" />
          </div>
        </li>
        <li class="attribute">
          <h4 class="attribute-name box-title box-title-min-height" title="{{ localize 'ACKS.AvoidSurprise' }}">
            {{ localize "ACKS.AvoidSurprise" }}</h4>
          <div class="attribute-value">
            <input name="system.surprise.avoidsurprise" type="text" value="{{system.surprise.avoidsurprise}}"
              placeholder="" data-dtype="Number" />
          </div>
        </li>
      </ul>
    </div>

    <div class="flexrow">

      <div class="health armor-class">
        <div class="health-value health-top" title="{{localize 'ACKS.ArmorClass'}}">{{system.aac.value}}</div>
        <div class="health-value health-bottom" title="{{localize 'ACKS.ArmorClassNaked'}}">{{system.aac.naked}}</div>
        {{#if system.aac.shield}}
          <div class="shield" title="{{localize 'ACKS.items.hasShield'}} ({{system.aac.shield}})">
            <i class="fas fa-shield-alt"></i>
          </div>
        {{/if}}
      </div>

      <ul class="attributes flexrow">
        <li class="attribute attribute-secondaries">
          <h4 class="attribute-name box-title box-title-min-height" title="{{localize 'ACKS.Encumbrance'}}">
            {{localize 'ACKS.Encumbrance'}}
          </h4>
          <div class="flexrow">
            <div class="attribute-value">{{system.encumbrance.value}} / {{system.encumbrance.max}}</div>
          </div>
        </li>

        <li class="attribute attribute-secondaries">
          <h4 class="attribute-name box-title box-title-min-height" title="{{localize 'ACKS.MortalWounds'}}">
            {{localize 'ACKS.MortalWounds'}}
          </h4>
          <div class="flexrow">
            <input name="system.fight.mortalwounds" type="text" value="{{system.fight.mortalwounds}}" placeholder=""
              data-dtype="Number" />
          </div>
        </li>

        <li class="attribute attribute-secondaries">
          <h4 class="attribute-name box-title box-title-min-height" title="{{localize 'ACKS.Cleaves'}}">
            {{localize 'ACKS.Cleaves'}}
          </h4>
          <div class="flexrow">
            <input name="system.fight.cleaves" type="text" value="{{system.fight.cleaves}}" placeholder=""
              data-dtype="Number" />
          </div>
        </li>

        <li class="attribute attribute-secondaries attack" data-attack="melee">
          <h4 class="attribute-name box-title box-title-min-height" title="{{localize 'ACKS.Melee'}}">
            <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{localize 'ACKS.MeleeShort'}}</a>
          </h4>
          <div class="flexrow">
            <div class="attribute-value"
              title="{{localize 'ACKS.scores.str.long'}}({{system.scores.str.mod}}) + {{localize 'ACKS.Modifier'}}({{system.thac0.mod.melee}})">
              {{add system.scores.str.mod system.thac0.mod.melee}}
            </div>
          </div>
        </li>
        <li class="attribute attribute-secondaries ">
          <h4 class="attribute-name box-title box-title-min-height" title="{{ localize 'ACKS.AB' }}">{{ localize
            "ACKS.ABShort"}}
          </h4>
          <div class="flexrow">
            <input name="system.thac0.throw" type="text" value="{{system.thac0.throw}}" placeholder=""
              data-dtype="Number" />
          </div>
        </li>
        <li class="attribute attribute-secondaries attack" data-attack="missile">
          <h4 class="attribute-name box-title box-title-min-height" title="{{localize 'ACKS.Missile'}}">
            <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{localize 'ACKS.MissileShort'}}</a>
          </h4>
          <div class="flexrow">
            <div class="attribute-value"
              title="{{localize 'ACKS.scores.dex.long'}}({{system.scores.dex.mod}}) + {{localize 'ACKS.Modifier'}}({{system.thac0.mod.missile}})">
              {{add system.scores.dex.mod system.thac0.mod.missile}}
            </div>
          </div>
        </li>

      </ul>

    </div>

    <div class="flexrow acks-attribute-row">
      <ul class="attributes flexrow">
        <li class="attribute attribute-movement">
          {{#each system.movementacks as |move key|}}
            {{#if (eq key "exploration")}}
              <h4 class="attribute-name box-title" title="{{localize (concat 'ACKS.movement.' key)}} feet/turn">
            {{else if (eq key "expedition")}}
              <h4 class="attribute-name box-title" title="{{localize (concat 'ACKS.movement.' key)}} miles/day">
            {{else}}
              <h4 class="attribute-name box-title" title="{{localize (concat 'ACKS.movement.' key)}} feet/round">
            {{/if}}
            {{localize (concat 'ACKS.movement.' key)}}</h4>
            {{#if @root.system.config.movementAuto}}
              <span class="attribute-value">{{move}}</span>
            {{else}}
              <input name="system.movementacks.{{key}}" type="text" value="{{move}}" placeholder="0"
                data-dtype="Number" />
            {{/if}}
          {{/each}}
        </li>
      </ul>
    </div>

    <div class="flexcol">

      {{!-- Adventuring throws --}}
      <div class="acks-attribute-row">
        <ul class="attributes flexrow">
          <li class="attribute adventuring attribute-movement">
            {{#each system.adventuring as |adv key|}}
            <h4 class="attribute-name box-title" data-adventuring="{{key}}">
              <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{localize (concat "ACKS.adventuring." key)}}</a>
            </h4>
            <span class="attribute-value adventure-value">
              <input name="system.adventuring.{{key}}" type="text" value="{{adv}}" placeholder="0"
                data-dtype="Number" />
            </span>
            {{/each}}
          </li>
        </ul>
      </div>

    </div>

  </div>

  {{!-- Saving throws --}}
  <div class="attribute-group saving-group">
    <ul class="attributes">
      <li class="attribute saving-throw" data-save="paralysis">
        <h4 class="attribute-name box-title">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.saves.paralysis.long" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.saves.paralysis.value" type="text" value="{{system.saves.paralysis.value}}"
            placeholder="0" data-dtype="Number" />
        </div>
      </li>
      <li class="attribute saving-throw" data-save="death">
        <h4 class="attribute-name box-title">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.saves.death.long" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.saves.death.value" type="text" value="{{system.saves.death.value}}" placeholder="0"
            data-dtype="Number" />
        </div>
      </li>
      <li class="attribute saving-throw" data-save="breath">
        <h4 class="attribute-name box-title">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.saves.breath.long" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.saves.breath.value" type="text" value="{{system.saves.breath.value}}" placeholder="0"
            data-dtype="Number" />
        </div>
      </li>
      <li class="attribute saving-throw" data-save="implements">
        <h4 class="attribute-name box-title">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.saves.implements.long" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.saves.implements.value" type="text" value="{{system.saves.implements.value}}"
            placeholder="0" data-dtype="Number" />
        </div>
      </li>
      <li class="attribute saving-throw" data-save="spell">
        <h4 class="attribute-name box-title">
          <a><i class="acks-roll-small fa-solid fa-dice-d20"></i>{{ localize "ACKS.saves.spell.long" }}</a>
        </h4>
        <div class="attribute-value">
          <input name="system.saves.spell.value" type="text" value="{{system.saves.spell.value}}" placeholder="0" />
        </div>
      </li>
      <li class="favorite-section">
        <h4 class="favorite-title">Favorites</h4>
        {{#each favorites as |item idx|}}
        <div class="item-name flexrow favorite-item">
          <a class="favorite-rollable" data-item-id="{{item._id}}">
            <i class="acks-roll-small fa-solid fa-dice-d20"></i>
            {{item.name~}}
          </a>
        </div>
        {{/each}}
      </li>
    </ul>
  </div>


</section>
