<section class="wages-section" data-base-size="32">
  <div class="flexrow">
    <div class="item-name">{{localize 'ACKS.totalWages'}} : {{totalWages}} GC</div>
    <div class="item-name">{{localize 'ACKS.availableMoney'}} : {{totalMoneyGC}} GC</div>
    <button class="pay-wages box-title">{{localize 'ACKS.payWages'}}</button>
  </div>
</section>

<section class="inventory resizable" data-base-size="310">
  <div>
    <div class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize 'ACKS.category.henchmen'}}</div>
      <div class="icon-row">{{localize "ACKS.details.class"}}</div>
      <div class="icon-row">{{localize "ACKS.Loyalty"}}</div>
      <div class="icon-row">{{localize "ACKS.details.morale"}}</div>
      <div class="field-short">{{localize "ACKS.RetainerWage"}}</div>
      <div class="field-short">{{localize "ACKS.details.level"}}</div>
      <div class="field-short">{{localize "ACKS.details.experience.baseshort"}}</div>
      <div class="field-short">{{localize "ACKS.details.experience.nextshort"}}</div>
      <div class="item-controls">
        &nbsp;
      </div>
    </div>
    <ol class="item-list">
      {{#each henchmen as |henchman idx|}}
      <li class="item-entry">
        <div class="item flexrow" data-henchman-id="{{henchman._id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{henchman.img}})"></div>
            <a class="open-henchman">
              <h4 title="{{henchman.name}}">
                {{henchman.name~}}
              </h4>
            </a>
          </div>
          <div class="icon-row flexrow">
            {{henchman.system.details.class}}
          </div>
          <div class="icon-row flexrow">
            <div class="check henchman-loyalty-check" data-henchman-id="{{henchman._id}}"
              title="{{localize 'ACKS.loyalty.check'}}"><a><i class="fas fa-dice"></i></a>
              {{henchman.system.retainer.loyalty}}</div>
          </div>
          <div class="icon-row flexrow">
            <div class="check henchman-morale-check" data-henchman-id="{{henchman._id}}"
              title="{{localize 'ACKS.roll.morale'}}"><a><i class="fas fa-dice"></i></a>
              {{henchman.system.details.morale}}</div>
          </div>
          <div class="field-short">
            {{henchman.system.retainer.wage}}
          </div>
          <div class="field-short">
            {{henchman.system.details.level}}
          </div>
          <div class="field-short">
            {{henchman.system.details.xp.value}}
          </div>
          <div class="field-short">
            {{henchman.system.details.xp.next}}
          </div>

          <div class="item-controls">
            {{#if ../owner}}
            <a class="item-control henchman-delete" title='{{localize "ACKS.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>