<section class="sheet-header">
  <div class="left">
    <img class="profile-img" src="{{item.img}}" alt="{{item.name}}" data-action="editImage" data-edit="img"/>
  </div>
  <div class="middle">
    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
  </div>
</section>
