<div class="field-set field-set--narrow">

  <div class="form-group form-group--row">
    <label class="form-group__label">{{localize 'ACKS.items.ArmorAAC'}}</label>
    <div class="form-group__fields">
      <input type="text" name="system.aac.value" value="{{system.aac.value}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="form-group">
    <label class="form-group__label">{{localize 'ACKS.armor.type'}}</label>
    <div class="form-group__fields">
      <select name="system.type">
        {{selectOptions config.armor selected=system.type}}
      </select>
    </div>
  </div>

</div>
