<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-col">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      {{localize "ACKS.category.description"}}
    </a>
    <a class="item" data-tab="effects">
      {{localize "ACKS.category.effects"}}
    </a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">

      <div class="flexrow">
        <div class="stats">
          <div class="form-group block-input">
            <label>{{localize 'ACKS.abilities.Requirements'}}</label>
            <div class="form-fields">
              <input type="text" name="system.requirements" value="{{system.requirements}}" data-dtype="String" />
            </div>
          </div>
          <div class="form-group block-input">
            <label>{{localize 'ACKS.items.Roll'}}</label>
            <div class="form-fields">
              <input type="text" name="system.roll" value="{{system.roll}}" data-dtype="String" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize 'ACKS.items.RollType'}}</label>
            <div class="form-fields">
              <select name="system.rollType">
                {{selectOptions config.roll_type selected=system.rollType}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>{{localize 'ACKS.items.RollTarget'}}</label>
            <div class="form-fields">
              <input type="text" name="system.rollTarget" value="{{system.rollTarget}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize 'ACKS.items.BlindRoll'}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.blindroll" value="{{system.blindroll}}" {{checked system.blindroll}}
                data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize 'ACKS.spells.Save'}}</label>
            <div class="form-fields">
              <select name="system.save">
                <option value=""></option>
                {{selectOptions config.saves_short selected=system.save}}
              </select>
            </div>
          </div>
        </div>
        <div class="description">
          {{editor description target="system.description" button=true
          owner=owner editable=editable}}
        </div>
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="effects">
      {{> "systems/acks/templates/items/partials/item-generic-effects-tab.html"}}
    </div>

  </section>
</form>