<form class="ose dialog">
    <div class="form-group">
        <label>{{localize 'ACKS.dialog.itemName'}}</label>
        <div class="form-fields">
            <input name="name" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize 'ACKS.dialog.itemType'}}</label>
        <div class="form-fields">
            <select name="type">
              {{#select type}}
               {{#each types as |typedef idx|}}
                <option value="{{typedef.key}}">{{typedef.label}}</option>
               {{/each}}
              {{/select}}
            </select>
        </div>
    </div>
    </div>